/** This file store golabal css code*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary Color */
  --primary-color: #007bff;

  /* Secondary Color */
  --secondary-color: #20c997;

  /* Accent Color */
  --accent-color: #f36f6f;

  /* Background Color  #f8f9fa*/
  --background-color: #FFF;

  /* Text Color (for light backgrounds) */
  --text-color-light: #333333;

  /* Text Color (for dark backgrounds) */
  --text-color-dark: #ffffff;

  /* Call to Action (CTA) Color */
  --cta-color: #ffc107;

  /* Subtle Gray */
  --subtle-gray: #aaaaaa;

  /* Success Color */
  --success-color: #28a745;

  /* Warning Color */
  --warning-color: #ffc107;
}

body {
  background: var(--background-color);
}
