.scholar_head {
  display: flex;
  margin: 60px 0 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.scholar_head h2 {
  font-weight: 900;
  font-size: 32px;
  position: relative;
}
.scholar_head h2::after {
  content: "";
  width: 30%;
  height: 6px;
  border-radius: 10px;
  position: absolute;
  top: -30%;
  left: 0%;
  background: var(--primary-color);
}

.form {
  max-width: 900px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.form label,
.form input,
.form select {
  display: block;
}

.form .entry_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form .entry_box input {
  width: 400px;
  height: 45px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
}
.form .entry_box select {
  width: 400px;
  height: 45px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.form button {
  padding: 12px 45px;
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.form .entry_box input:focus {
  border-color: var(--primary-color);
}
.form .entry_box select:focus {
  border-color: var(--primary-color);
}

/* footer style */
.footer{
  background: var(--primary-color);
  color: var(--text-color-dark);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
/****************Responsive****************/
@media only screen and (max-width: 600px) {
  .scholar_head h2::after {
    top: -10%;
  }

 

  .form .entry_box input {
    width: 320px;
  }
  .form .entry_box select {
    width: 320px;
  }

  .form button {
    padding: 10px 45px;
  }
}
