/** hero section code */
.herosection {
  max-width: 1250px;
  margin: auto;
  height: 650px;
  display: flex;
  padding: 0 10px;
}
.childDiv {
  flex: 1;
}
.childDiv:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.childDiv:first-child h1 {
  font-size: 36px;
  font-weight: 900;
}
.childDiv:first-child h1 span {
  color: var(--secondary-color);
  font-size: 32px;
}

.childDiv:first-child p {
  font-size: 16px;
  width: 80%;
  color: var(--text-color-light);
  font-weight: 500;
  margin-top: 5px;
  line-height: 22px;
}

.childDiv:first-child .apply_button {
  margin-top: 20px;
  padding: 15px 35px;
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.childDiv:first-child .apply_button .icon {
  margin-left: 8px;
}

.childDiv:first-child .apply_button:hover {
  opacity: 0.8;
  transition: 0.1s;
}

.herosection div:nth-child(2) {
  margin: 40px 0;
  position: relative;
}
.herosection div:nth-child(2) .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/** how to apply css*/
.howto_head_box {
  display: flex;
  margin: 120px 0 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.howto_head_box h2 {
  font-weight: 900;
  font-size: 32px;
  position: relative;
}

.howto_head_box h2::after {
  content: "";
  width: 30%;
  height: 6px;
  border-radius: 10px;
  position: absolute;
  top: -30%;
  left: 0%;
  background: var(--primary-color);
}

.arrow_box {
  width: 50px;
  height: 50px;
  margin: auto;
  position: relative;
}

.flip_horizontal {
  transform: scaleX(-1);
}
/* what other says */

.other_says_box {
  max-width: 1250px;
  margin: auto;
  margin-top: 5px;
  padding: 10px;
}
.other_says_word_container {
  display: flex;
}

.other_says_words {
  max-width: 600px;
  height: auto;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: #e1edf8 0px 0px 0px 3px;
}
.other_says_box_details {
  font-size: 16px;
  font-weight: 300;
  margin: 20px 45px;
  line-height: 26px;
  color: var(--text-color-light);
}
.other_says_image {
  width: 60px;
  height: 60px;
  position: relative;
}

.other_says_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--secondary-color);
}

/* cp exam details */
.program_item_div {
  max-width: 1350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 10px;
}
.program_item {
  display: flex;
  width: 420px;
  min-height: 154px;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 20px 25px;
  margin: 15px 0;
  color: #fff;
  position: relative;
}

.program_item:after {
  opacity: 0.2;
  background-image: url(/shape-01.png);
  background-size: auto;
  background-position: center;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all 0.5s;
}

.program_item:hover:after {
  transition: all 0.5s;
  background-image: url(/shape-01.png);
  background-position: 54% center;
}

.program_item .program__icon {
  text-align: center;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  box-shadow: 0px 0px 0px 10px #ffffff3d;
  background-color: #fff;
  color: #000;
}
.program_item .program__icon .icon {
  width: 40px;
  height: 40px;
}

.program_item .head_p {
  margin-left: 25px;
}
.program_item .head_p h5 {
  margin-bottom: 10px;
  font-size: 18px;
}

.program_item .head_p p {
  margin: 0;
  font-size: 14px;
}

/* Question_break **/
.question_break_box {
  width: 100%;
  padding: 10px;
}

.question_break {
  border-collapse: collapse;
  overflow-x: auto;
  margin: auto;
}

.question_break th {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  font-size: 16px;
  padding: 16px 28px;
  text-align: left;
}

.question_break td {
  border-bottom: 1px solid #ccc;
  padding: 16px 28px;
  font-size: 16px;
  text-align: left;
  background: #e1edf8;
  vertical-align: top; /* Use "top" instead of "text-top" */
}
/* reward for air ranker */
.air_box {
  width: 100%;
  padding: 50px 10px;
  background: #e1edf8;
}
.air {
  max-width: 1350px;
  margin: auto;
  display: flex;
}

.air_table {
  width: 58%;
  overflow-x: auto;
}
.air_table table {
  border-collapse: collapse;
  margin: auto;
}
.air_table table th {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  font-size: 16px;
  padding: 16px 28px;
  text-align: left;
}

.air_table table td {
  border-bottom: 1px solid #ccc;
  padding: 16px 28px;
  font-size: 16px;
  text-align: left;
  background: var(--background-color);
  vertical-align: top; /* Use "top" instead of "text-top" */
}

.air_prize {
  width: 42%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.air_prize .image {
  height: 160px;
  width: 160px;
  position: relative;
}

.air_prize .image:nth-child(2) {
  align-self: start;
}
/****************Responsive****************/
@media only screen and (max-width: 600px) {
  /** hero section code */
  .herosection {
    height: 580px;
  }

  .childDiv:first-child p {
    width: 100%;
    font-size: 14px;
  }

  .herosection div:nth-child(2) {
    display: none;
  }

  /** how to apply css*/
  .howto_head_box {
    padding: 10px;
  }

  .howto_head_box h2::after {
    top: -10%;
  }

  /** what other says */
  .other_says_word_container {
    flex-direction: column;
  }

  .other_says_box_details {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 15px;
    line-height: 24px;
  }
  .program_item {
    width: 90vw;
    margin: 10px 0;
  }

  .question_break th,
  .question_break td,
  .air_table table td,
  .air_table table th {
    font-size: 14px;
    padding: 10px 15px;
  }

  .air {
    flex-direction: column;
  }

  .air_table {
    width: 100%;
    overflow-x: auto;
  }
  .air_table table {
    border-collapse: collapse;
    margin: auto;
  }
  .air_table table th {
    background-color: var(--primary-color);
    color: var(--text-color-dark);
    font-size: 16px;
    padding: 16px 28px;
    text-align: left;
  }

  .air_table table td {
    border-bottom: 1px solid #ccc;
    padding: 16px 28px;
    font-size: 16px;
    text-align: left;
    background: var(--background-color);
    vertical-align: top; /* Use "top" instead of "text-top" */
  }

  .air_prize {
    width: 100%;
    margin-top: 40px;
  }
  .air_prize .image {
    height: 120px;
    width: 120px;
  }

  .air_prize .image:nth-child(2) {
    align-self: normal;
  }
}
